html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box !important;
}

@font-face {
  font-family: 'BariolBold';
  src:
    local('BariolBold'),
    url('../assets/fonts/bariol/bariol_bold-webfont.ttf') format('TrueType');
  font-weight: 700;
}
@font-face {
  font-family: 'BariolRegular';
  src:
    local('BariolRegular'),
    url('../assets/fonts/bariol/bariol_regular-webfont.ttf') format('TrueType');
  font-weight: 700;
}

@font-face {
  font-family: 'AktivBold';
  src:
    local('AktivBold'),
    url('../assets/fonts/aktiv-grotesk/AktivGrotesk_Bd.ttf') format('TrueType');
  font-weight: 700;
}
@font-face {
  font-family: 'AktivBoldItalic';
  src:
    local('AktivBoldItalic'),
    url('../assets/fonts/aktiv-grotesk/AktivGrotesk_BdIt.ttf') format('TrueType');
  font-weight: 700;
}
@font-face {
  font-family: 'AktivItalic';
  src:
    local('AktivItalic'),
    url('../assets/fonts/aktiv-grotesk/AktivGrotesk_It.ttf') format('TrueType');
  font-weight: 700;
}
@font-face {
  font-family: 'AktivRegular';
  src:
    local('AktivRegular'),
    url('../assets/fonts/aktiv-grotesk/AktivGrotesk_Rg.ttf') format('TrueType');
  font-weight: 700;
}

* {
  font-family: 'BariolRegular' !important;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-300);
}
th,
td {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 18px !important;
}
th {
  color: black !important;
}
td {
  color: black !important;
}

/* ------------------configurations ------------------*/
.ant-list {
  border-top: 1px solid black;
}

.ListTitles {
  color: black;
}

.ant-btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 0.375rem !important;
  box-shadow: var(--shadow-button) !important;
}
.ant-btn-default {
  border-radius: 0.375rem !important;
  box-shadow: var(--shadow-button) !important;
}

.ant-table {
  background-color: var(--color-primary);
  color: white;
}

.ant-table-thead > tr > th {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.ant-table-tbody > tr > td {
  color: white;
}

.ant-float-btn {
  background-color: var(--color-primary) !important;
  box-shadow: none;
}

.ant-float-btn .ant-float-btn-body {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(
    135deg,
    var(--color-primary-100),
    var(--color-primary-300),
    var(--color-primary-500)
  );
}
.bg-gradient-secondary {
  background-image: linear-gradient(
    135deg,
    var(--color-secondary-100),
    var(--color-secondary-300),
    var(--color-secondary-500)
  );
}
