@theme {
  --font-BariolBold: 'BariolBold';
  --font-BariolRegular: 'BariolRegular';
  --font-AktivBold: 'AktivBold';
  --font-AktivBoldItalic: 'AktivBoldItalic';
  --font-AktivItalic: 'AktivItalic';
  --font-AktivRegular: 'AktivRegular';
  
  
}
